.page {
  display: flex;
  flex-direction: column;
  gap: 14px;
  overflow: auto;
  height: 100%;
}

.chartRow2col {
  display: grid;
  grid-template-columns: 1.8fr 1fr;
  gap: 14px;
}

.chartRow3col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 14px;
}

.tableRow2col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 14px;
}

@media (max-width: 1023px) {
  .chartRow3col {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 639px) {
  .chartRow2col {
    grid-template-columns: 1fr;
  }

  .chartRow3col {
    grid-template-columns: 1fr;
  }

  .tableRow2col {
    grid-template-columns: 1fr;
  }
}
